<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{{title}} - Coin Flip Streak</title>
  <meta name="description" content="super high scores the game II turbo">
  <meta name="author" content="JAForral">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body role="document">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">@_@</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Coin Flip Streak</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if title == 'Home' %} class="active" {% endif %}>
                        <a href="./">Home</a>
                    </li>
                    <li {% if title == 'Flip' %} class="active" {% endif %}>
                        <a href="flip">Flip</a>
                    </li>
                    <li {% if title == 'High Scores' %} class="active" {% endif %}>
                        <a href="highscores">High Scores</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <!-- {% if sessionuser | length > 0 %} -->
                            {{sessionuser}}
                            <!-- {% else %} -->
                            Sign in
                            <!-- {% endif %} -->
                             <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                                <!-- {% if sessionuser | length > 0 %} -->
                            <li>
                                <a href="profile">Profile</a>
                            </li>
                            <li>
                                <a href="signout">Sign out</a>
                            </li>
                            <!-- {% else %} -->
                            <li {% if title == 'Sign in' %} class="active" {% endif %}>
                                <a href="signin">Sign in</a>
                            </li>
                            <li {% if title == 'Register' %} class="active" {% endif %}>
                                <a href="register">Register</a>
                            </li>
                            <!-- {% endif %} -->
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>{{title}}</h1>
        </div>

        {% block body %}
        {% endblock body %}
        <p><small><a href="./">back to front</a></small></p>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
