{% extends 'base.twig' %}

{% set title='Change Password' %}

{% block body %}

<form class="form-horizontal" role="form" action="passwordchangiate" method="POST">
	<div class="form-group {% if not isValid %} has-error {% endif %} has-feedback">
		<label for="password" class="col-sm-2 control-label">Old Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password" name="oldPassword" />
			{% if not isValid %}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			<span id="inputWarning2Status" class="sr-only">(warning)</span>
			{% endif %}
		</div>
	</div>
	<div class="form-group {% if not isConfirmed %} has-error {% endif %} has-feedback">
		<label for="password" class="col-sm-2 control-label">New Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="newPassword" />
			{% if not isConfirmed %}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			<span id="inputWarning2Status" class="sr-only">(warning)</span>
			{% endif %}
		</div>
	</div>
	<div class="form-group {% if not isConfirmed %} has-error {% endif %} has-feedback">
		<label for="confirm" class="col-sm-2 control-label">Confirm</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="confirm" placeholder="Re-type New Password" name="confirm" />
			{% if not isConfirmed %}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			<span id="inputWarning2Status" class="sr-only">(warning)</span>
			{% endif %}
		</div>
	</div>
	<div class="form-group has-error has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Change Password</button>
		</div>
	</div>
	{% if not isConfirmed %}
	<div class="form-group has-feedback">
		<label class="col-sm-2 control-label"></label>
		<div class="alert alert-danger col-sm-10" role="alert">
			Chnage Password was unsuccessful.
			<br />Passwords do not match. Please correct the errors and try again.
		</div>
	</div>
	{% endif %}
	{% if not isValid %}
	<div class="form-group has-feedback">
		<label class="col-sm-2 control-label"></label>
		<div class="alert alert-danger col-sm-10" role="alert">
			Chnage Password was unsuccessful.
			<br />Incorrect old password. Please correct the errors and try again.
		</div>
	</div>
	{% endif %}
</form>

{% endblock body %}
