{% extends 'base.twig' %}

{% set title='Flip' %}

{% block body %}
<p>{{ streaklength }} {{ lastflip }}</p>
<form action="flippate" method="POST">
    <button type="submit" class="btn btn-default" value="Flip">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Flip
    </button
</form>
{% endblock body %}
