{% extends 'base.twig' %}

{% set title='Home' %}

{% block body %}

<div class="btn-group-vertical" role="group">
    <a type="button" class="btn btn-default" role="button" href="flip">
        <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Flip
    </a>
    <!-- {% if sessionuser | length > 0 %} -->
    <a type="button" class="btn btn-default" role="button" href="profile">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
    </a>
    <!-- {% else %} -->
    <a type="button" class="btn btn-default" role="button" href="signin">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
    </a>
    <!-- {% endif %} -->
    <a type="button" class="btn btn-default" role="button" href="highscores">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> High Scores
    </a>
</div>
{% endblock body %}
