{% extends 'base.twig' %}

{% set title='Sign In' %}

{% block body %}

<form>
	username:<br />
	<input type="text" name="username" />
    <br />
	password:<br />
	<input type="password" name="password" />
	<input type="submit" value="Submit">
</form> 

<a href="./">back to front</a>
{% endblock body %}
